#navflo_00 a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#navflo_00 a:hover {
    left: 0;
}

#h_0 {
    top: 20px;
    background-color: #4caf50;
}

#h_1 {
    top: 80px;
    background-color: #2196f3;
}

#h_2 {
    top: 140px;
    background-color: #f44336;
}

#h_3 {
    top: 200px;
    background-color: #555;
}

#text_01 {
    margin-left: 80px;
}

#arm_p1 {
    width: 220px;
    aspect-ratio: auto 220 / 146;
    height: 146px;
    margin-left: 80px;
}

#text_02 {
    margin-left: 80px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}