#navflo_00 a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#navflo_00 a:hover {
    left: 0;
}

#h_0 {
    top: 20px;
    background-color: #4caf50;
}

#h_1 {
    top: 80px;
    background-color: #2196f3;
}

#h_2 {
    top: 140px;
    background-color: #f44336;
}

#h_3 {
    top: 200px;
    background-color: #555;
}